[submodule "CMake"]
	path = submodules/CMake
	url = https://github.com/QuasarApp/CMake.git
[submodule "submodules/openssl-builder"]
	path = submodules/openssl-builder
	url = https://github.com/QuasarApp/openssl-builder.git
